<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)="onSubmit()" #prdForm="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="prdCategory">Select Category</label>
            <select class="form-control" id="prdCategory" required [(ngModel)]="newXprd.categoryID" name="prdCategory">
              <option *ngFor="let cate of cates | async" [value]="cate.id">{{cate.ENG}}@{{cate.TH}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Product Status: ON/OFF</label>
            <form #f="ngForm">
              <input type="radio" [value]="true" name="isOn" [(ngModel)]="newXprd.status" checked>ON
              <input type="radio" [value]="false" name="isOn" [(ngModel)]="newXprd.status">OFF
            </form>
          </div>
          <div class="form-group">
            <label>Is Refundable</label>
            <form #ff="ngForm">
              <input type="radio" [value]="true" name="isRefundable" [(ngModel)]="newXprd.isRefundable" checked>Refundable
              <input type="radio" [value]="false" name="isRefundable" [(ngModel)]="newXprd.isRefundable">Not Refundable
            </form>
          </div>
          <div class=form-group>
            <label for="prdPrice">Set Product Price</label>
            <input type="number" class="form-control" 
              id="prdPrice" [(ngModel)]="newXprd.price" 
              name="prdPrice"
              required min="0">
          </div>
          <div class="box" *ngIf="newXprd.categoryID">
            <div class="alert alert-info" appFileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)" [ngClass]="{'alert-danger': dropzoneActive}">
              <h4>Drop Images Here</h4>
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" [style.width]="currentUpload.progress + '%'"
              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prdEngName">ENG Product Name</label>
            <textarea class="form-control" id="prdEngName" name="prdEngName" [(ngModel)]="newXprd.name.ENG" required></textarea>
          </div>
          <div class="form-group">
            <label for="prdThName">TH Product Name</label>
            <textarea class="form-control" id="prdThName" name="prdThName" [(ngModel)]="newXprd.name.TH" required></textarea>
          </div>
          <div class="form-group">
            <label for="prdEngDes">ENG Product Description</label>
            <textarea class="form-control" id="prdEngDes" name="prdEngDes" [(ngModel)]="newXprd.description.ENG" required></textarea>
          </div>
          <div class="form-group">
            <label for="prdThDes">TH Product Description</label>
            <textarea class="form-control" id="prdThDes" name="prdThDes" [(ngModel)]="newXprd.description.TH" required></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width:30rem;">
            <img *ngIf="newXprd.mainImgUrl" class="card-img-top" src={{newXprd.mainImgUrl}} style="width:50%">
            <div class="card-body">
              <h4 class="card-text">{{newXprd.name.ENG}} / {{newXprd.name.TH}} <span class="badge badge-danger">{{newXprd.price}} THB</span> <span class="badge badge-info">{{newXprd.categoryID}}</span></h4>
              <p class="card-text">{{newXprd.description.ENG}}</p>
              <p class="card-text">{{newXprd.description.TH}}</p>
              <div *ngIf="newXprd.status; else elseBlock1">
                <span class="badge badge-success">This Product is ON</span>
              </div>
              <ng-template #elseBlock1><div><span class="badge badge-danger">This Product is OFF</span></div></ng-template>
              <div *ngIf="newXprd.isRefundable; else elseBlock">
                <span class="badge badge-success">This Product is Refundable</span>
              </div>
              <ng-template #elseBlock><div><span class="badge badge-danger">This Product is not Refundable</span></div></ng-template>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block" *ngIf="prdForm.form.valid && prdok">Submit</button>
    </form>
  </div>
  <br>
  <div class="row" *ngIf="currentUpload.url">
    <div class="col-md-4">
      <div>
        <img src={{currentUpload.url}}>
        <div>
          <button class="btn btn-danger btn-sm" type="button" (click)="deleteImgByUrl(currentUpload.url)">DELETE</button>
          <button class="btn btn-danger btn-sm" type="button" (click)="setMainImgUrl(currentUpload.url)">MAIN</button>
          <button class="btn btn-info btn-sm" type="button" (click)="add2InfoImgUrls(currentUpload.url)">INFO</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form #csForm="ngForm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">QTY</span>
            <input type="number" name="csQty" class="form-control" [(ngModel)]="qty" placeholder="Item Quantity" min="1" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ENG</span>
            <input type="text" name="eng" class="form-control" [(ngModel)]="eng" placeholder="Item Specification ENG" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">TH</span>
            <input type="text" name="th" class="form-control" [(ngModel)]="th" placeholder="Item Specification TH" required>
          </div>
        </div>
        <button type="button" (click)="save2array()" class="btn btn-success btn-lg btn-block" [disabled]="!csForm.form.valid">SAVE ITEM</button>
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="doneEditing()">Enable Submit</button>
      </form>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-3" *ngFor="let prdImg of newXprd.imgUrls; let k=index">
          <img class="img-round" src={{prdImg}} style="width:100%">
          <span class="badge badge-pill badge-danger">QTY: {{newXprd.QTY[k]}} </span>
          <span class="badge badge-pill badge-info">{{newXprd.csENG[k]}}</span>
          <span class="badge badge-pill badge-info">{{newXprd.csTH[k]}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" *ngFor="let prdInfoImg of newXprd.infoImgUrls">
          <img class="img-round" src={{prdInfoImg}} style="width:100%">
        </div>
      </div>
    </div>
  </div>
</div>